

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(#16161a, #7e5ebf);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;

.name {
  color: #fffffe;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.banner{
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 128px;
}

.social-icons {
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
  justify-content: space-around;
}

.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  transition: all 0.5s ease;
}

.social-icons a{
  color: #fffffe;
  text-decoration: none;
}

.link {
  background-color: #7f5af0;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 70px;
  box-shadow: 1.5px 5px 0px 1px white;
  transition: all 1s ease;
}

.link a {
  color: #fffffe;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  padding-right: 50px;
  transition: all 1s ease;
}
/* 
.link::hover {
  height: 280px;
}

.link:hover .thumbnail {
  width: 150px;
  height: 150px;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
  transition: all 1s ease;
  margin: 15px;
  padding: 15px;
}

.link:hover a,
.link:focus a {
  padding-top: 150px; 
} */

.items {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 80%;
  max-width: 650px;
  flex-grow: 1;
}
